*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ffafe0,#c79df0);
font-family:'Poppins',sans-serif;
}


/* CONTENEDOR */
.card{
width:380px;
max-width:90%;
background:#ffffff;
padding:30px 25px;
border-radius:20px;
text-align:center;
box-shadow:0 15px 30px rgba(0,0,0,0.2);
}


/* TITULO */
.game h1{
font-size:1.9rem;
color:#333;
margin-bottom:5px;
}


.subtitle{
font-size:0.9rem;
color:#666;
margin-bottom:20px;
}


/* TIMER */
.timer{
background:#f2f6ff;
padding:10px;
border-radius:12px;
margin-bottom:20px;
font-weight:600;
color:#3b6cff;
}


/* INPUT */
.input-box{
display:flex;
gap:10px;
margin-bottom:20px;
}


input{
flex:1;
padding:10px;
border-radius:10px;
border:1px solid #ccc;
font-size:1rem;
outline:none;
}


input:focus{
border-color:#3b6cff;
}


button{
padding:10px 15px;
border:none;
border-radius:10px;
background:#3b6cff;
color:#fff;
font-weight:600;
cursor:pointer;
transition:0.2s;
}


button:hover{
background:#ffabfb;
}


/* ESTADO */
.status{    
min-height:28px;
margin-bottom:15px;
font-weight:500;
color:white
}


.cold{
color:#3498db;
}


.warm{
color:#f39c12;
}


.hot{
color:#e74c3c;
}


.win{
color:#00fe6a;
font-weight:700;
}


/* HISTORIAL */
.history{
background:#f7f7f7;
border-radius:10px;
padding:8px;
font-size:0.8rem;
color:#555;
margin-bottom:10px;
}


/* FOOTER */
.footer{
font-size:0.7rem;
color:#aaa;
}
.card.hot{
  background:#ffcccc;
}

.card.warm{
  background:#fff1cc;
}

.card.cold{
  background:#cce9ff;
}

.card.win{
  background:#ccffe4;
}
